*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 100px;
  background-image: url("./image/wallpaper.jpg");
  background-repeat: no-repeat;
  color: black;
  font-size: 30px;
  background-size: cover;
  background-position: 0%;
}

nav{
  display: flex;
}

.JSA{
  margin: auto;
}

.logo{
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px; 
  width: 100px; 
  justify-content: space-around;
}
body{
  background-image: url(./image/background_body.jpg);
}
.algorithm{
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block1{
  background-color: red;
}

.show{
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex: 4;
}

.show_code{
  background-color: rgb(255, 0, 0);
  flex: 1;
}

.show_effect{
  background-color: black;
  background-image: url("./image/bg_sky.jpg");
  flex: 3;
  display:list-item;
}
.mario3D{
  background-color: red;
  flex: 50%;
}
.marioImg{
  width:75px;
  padding: 5px;
  background-color: black;
}

.cloud3D{
  background-color: blue;
  flex: 35%;
}
.cloudImg{
  width: 100px;
  background-color: black;
}
.number{
  display: flex;
  flex: 15%;

}

footer{
  display: flex;
  background-color: #ddd;
}
